// Define variables for your color scheme

// For example:
$red: #ee5253;
$blue: #2e86de;
$yellow: #feca57;
$orange: #ff9f43;
$green: #10ac84;
$gray: #2f3542;
$light-gray: #f1f2f6;
$transparent-black-1: rgba(0, 0, 0, 0.2);
$transparent-black-2: rgba(0,0,0,0.6);
$black: black;
$white: white;
